@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  /* padding-left: 20px; */
  /* height: 100vh; */
  /* font-size: 100px; */
}
/* .third.page, */
.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
/* .third-content, */
.first-content {
  display: flex;
  flex-direction: column;
  font-size: 57px;
  gap: 3rem;
  letter-spacing: 0.02em;
  font-weight: 300;
}
/* .first-content p {
} */
.third-content p {
  font: size 20px;
  max-width: 400px;
}
.small-text {
  font-size: 20px;
  letter-spacing: none;
  letter-spacing: 0.01em;
  font-weight: 200;
  max-width: 700px;
}

.img-content {
  margin-top: 40px;
  object-fit: cover;
}
/* .line2, */
/* .line-footer, */
.line {
  width: 960px;
  height: 47px;
  border-bottom: 1px solid black;
  /* position: absolute; */
}

.line-footer {
  width: 900px;
  height: 30px;
  margin-top: 40px;
  border-bottom: 1px solid white;
  position: absolute;
}
.line2 {
  width: 600px;
  height: 47px;
  border-bottom: 1px solid black;
  /* position: absolute; */
}
.second-content {
  letter-spacing: 0.01rem;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  /* max-width: 68%; */
}

.column-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.service-content {
  display: flex;
  /* flex-direction: column; */
  gap: 2em;
  justify-content: space-between;
  /* justify-content: space-between; */
  font-size: 27px;
  gap: 5rem;
  /* max-width: 700px; */
  /* max-width: 0%; */
}

.desc-service {
  max-width: 300px;
  font-size: medium;
}

.second-page {
  margin-top: 40px;
  background-color: black;
  /* height: 100vh; */
  color: white;
  display: flex;
  /* object-fit: cover; */
  /* width:100%; */
  justify-content: center;

  /* margin-bottom: 100px; */
  /* align-items: center; */
}
.page2-section {
  margin-top: 5em;
  display: flex;
  gap: 4em;
  margin-bottom: 70px;
  justify-content: space-between;
}
.img-page2 img {
  width: 380px;
}
.img-page2 h4 {
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 0.1rem;
}
.img-page2 p {
  font-weight: 200;
  font-size: 16px;
  max-width: 400px;
}
.img-page2 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  /* justify-content: space-between; */
}

.third-page {
  display: flex;
  padding-left: 50px;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
}

.third-page2 {
  display: flex;
  padding-left: 50px;
  justify-content: center;
  margin-top: 50px;
  gap: 2em;
  align-items: center;
}

.third-content {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  gap: 3rem;
  letter-spacing: 0.02em;
  font-weight: 300;
  margin-bottom: 100px;
}

.desc-third {
  display: flex;
  /* justify-content: space-between; */
  gap: 1.5rem;
}
/* .desc-third img {
  height: 200px;
  width: 200px;
} */
.title-desc {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.title-desc small {
  font-weight: 200;
  max-width: 350px;
  font-size: medium;
}

.section-desc {
  display: flex;
  /* justify-content: space-between; */
  gap: 5rem;
}

.section-desc2 {
  display: flex;
  /* justify-content: space-between; */
  gap: 5em;
}
.section-desc3 {
  display: flex;
  justify-content: space-between;
  /* gap: 6em; */
}
.section-desc4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6em;
}
/* .section-desc4 p, */
.section-desc2 p {
  font-size: 25px;
  font-weight: 200;
}
.project-view {
  margin-top: 15px;
}
.line3 {
  width: 1100px;
  height: 47px;
  border-bottom: 1px solid black;
}

.column-3 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
/* .img-page3{
    max-width: 500px;
} */
.margin-content {
  margin-top: 20px;
}

.column-3 button {
  /* padding: 20px 20px ; */
  border: none;
  color: white;
  background-color: black;
  height: 45px;
  width: 150px;
  font-size: 17px;
  /* font-family: ; */
  font-weight: 200;
  border-radius: 2px;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}

.button-footer {
  background-color: white;
  color: black;
  height: 45px;
  width: 120px;
  border: none;
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.button-footer:hover {
  background-color: black;
  color: white;
  transition: background-color 0.4s, color 0.4s, scale 0.8s;
  scale: 110%;
  /* border-color: black; */
  border-style: solid;
}
/* .third-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
} */
.column-3 button:hover {
  background-color: white;
  color: black;
  transition: background-color 0.4s, color 0.4s, scale 0.8s;
  scale: 110%;
  border-color: black;
  border-style: solid;
}

.text-content {
  font-size: 48px;
  letter-spacing: 0.05rem;
  font-weight: 300;
}
.section-desc4 p,
.smaller {
  font-weight: 300;
  font-size: large;
  letter-spacing: 0;
}
.column-faq {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.section-desc4 h3 {
  font-size: 55px;
  font-weight: 300;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  background-color: black;
  color: white;
  /* max-width: 1300px; */
}

.last-content {
  display: flex;
  margin-block: 70px;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  font-size: 40px;
  gap: 6em;
  /* letter-spacing: 0.02em; */
  font-weight: 300;
}
.column-last {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.social-media{
  display: flex;
  gap: 4em;
  margin-top: 100px;
  padding-top: 100px;
  justify-content: end;
  /* flex-direction: ; */
}

.footer-end{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  
}
/* .footer {
  margin: 50px;
  background-color: black;
  display: flex;
  gap: 2em;
  color: white;
  justify-content: center;
  /* justify-content: space-around; */
/* flex-direction: colu; */
